.section__div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-top: solid 2px rgb(68, 147, 205);
    width: 90%;
    margin: auto;
}

.section__title{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.section__contacto{
    margin-bottom: 10px;
}

.section__item{
    padding: 5px;
}

.section__negrita{
    font-weight: bold;
}

.item__whatsapp{
    margin-top: 10px;
}

.ultimo__div{
    border-bottom: solid 2px rgb(68, 147, 205);
}

.section__mapa{
    width: 350px;
    height: 300px;
    margin: auto;
    padding: 10px 0;
}

@media screen and (min-width: 768px){
    .section__mapa{
        width: 700px;
        height: 300px;
        margin: auto;
        padding: 10px 0;
    }
}

@media screen and (min-width: 1024px){
    .section{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }

    .section__div{
        height: 450px;
        border-bottom: solid 2px rgb(68, 147, 205);
    }

    .section__title{
        font-size: 2rem;
    }

    .primer__div{
        padding-top: 125px;
        height: 335px;
    }

    .section__mapa{
        width: 650px;
        height: 400px;
        margin: auto;
        padding: 10px 0;
    }
}