.sectionQuienesSomos{
    text-align: center;
    padding: 10px;
    border-top: solid 2px rgb(68, 147, 205);
    border-bottom: solid 2px rgb(68, 147, 205);
    width: 90%;
    margin: auto;
}

.sectionQuienesSomos__title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sectionQuienesSomos__img{
    width: 50%;
    margin-top: 20px;
}

@media screen and (min-width: 1024px){
    .sectionQuienesSomos{
        width: 60%;
    }
}